@{
    Layout = null;
}
@model AllamaShibliQuiz.Models.ViewModels.StudentViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allama Shibli Nomani Brainiac Battle, Admit Card</title>
    <style>
        body {
            -webkit-print-color-adjust: exact !important;
            forced-color-adjust: auto !important;
            print-color-adjust: exact !important;
        }

        table {
            border-collapse: collapse;
        }

        .table-gray td:nth-child(1) {
            background-color: lightgray;
        }

        .text-center {
            text-align: center;
        }

        .text-gray {
            color: gray;
        }

        h1 {
            display: flex;
            align-items: center;
            margin: 0;
            text-align: center;
        }

        .img-logo {
            width: 60px;
            margin-right: 10px;
        }

        .admit-card {
            border: 1px solid gray;
            padding: 20px;
            margin: auto;
            width: 680px;
            display: grid;
            justify-content: center;
        }

        .common-text {
            text-align: center;
            font-size: 15px;
            margin-top: 0;
            margin-bottom: 8px;
        }

        .imp-text {
            margin-top: 8px;
            margin-bottom: 3px;
            color: red;
        }

        ol {
            margin-top: 3px;
            padding-left: 15px;
        }

        .sign {
            width: 100px;
        }

        .season {
            text-align: center;
            margin-top: 0;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <p style="text-align:center;margin-top:10px;"><input type="button" value="Print" onClick="window.print()"></p>
    <div class="admit-card">
        <h1>
            <img src="/assets/img/logo.png" class="img-logo" />
            Allama Shibli Nomani Brainiac Battle
        </h1>
        <h2 class="season">Season - 2</h2>
        <p class="common-text">Organized by - Team Brainiac Battle</p>
        <p class="common-text">Sponsored by - M.I. Naseerul Uloom, Khutahna</p>
        <p class="common-text">(Admit Card - 2024)</p>
        <table class="table-gray" border="1" width="650" cellpadding="8">
            <tr>
                <td width="180">Name</td>
                <td width="300" colspan="2">@Model.Name</td>
            </tr>
            <tr>
                <td width="180">Roll Number</td>
                <td width="300">@Model.RollNumber</td>
                <td width="170" rowspan="4" class="text-gray text-center">Please affix your passport size photograph here.</td>
            </tr>
            <tr>
                <td width="180">Father's Name</td>
                <td width="300">@Model.FatherName</td>
            </tr>
            <tr>
                <td width="180">Class</td>
                <td width="300">@Model.Class</td>
            </tr>
            <tr>
                <td width="180">School Name</td>
                <td width="300">@Model.SchoolName</td>
            </tr>

        </table>
        <table class="table-gray" border="1" width="650" cellpadding="8">
            <tr>
                <td colspan="3" class="text-center">EXAM DAY DETAILS</td>
            </tr>
            <tr>
                <td width="180">Date and Day of Exam</td>
                <td width="300">@Model.ExamDate</td>
                <td width="170" rowspan="3"></td>
            </tr>
            <tr>
                <td width="180">Exam Timing</td>
                <td width="300">
                    @if (@Model.ExamCentreId == 19)
                    {
                        <span>11:30 AM to 01:30 PM</span>
                    }
                    else
                    {
                        <span>10 AM to 12 PM</span>
                    }
                </td>
            </tr>
            <tr>
                <td width="180">Center Code</td>
                <td width="300">@Model.ExamCentreCode</td>
            </tr>
            <tr>
                <td width="180">Exam Center</td>
                <td width="300">@Model.ExamCentreName</td>
                <td width="170" class="text-center text-gray">Student Sign</td>
            </tr>
        </table>
        <table border="1" width="650" cellpadding="6">
            <tr class="text-center">
                <td width="325">
                    <img class="sign" src="/assets/img/asad_sign.jpeg" />
                </td>
                <td width="325">
                    <img class="sign" src="/assets/img/ahmar_sign.jpeg" />
                </td>
            </tr>
            <tr class="text-center text-gray">
                <td width="325">President Signature</td>
                <td width="325">Examination Controller Signature</td>
            </tr>
        </table>
        <h3 class="imp-text">Important Instructions for candidates:-</h3>
        <ol>
            <li>Candidate should report 30 minute before examination time.</li>
            <li>Candidate should bring their own blue/black ball pen for filling OMR sheets.</li>
            <li>There will be negative mark of .25 on every wrong answer.</li>
            <li>Candidate without having proper admit card and school id card shall not be allowed in the examination.</li>
            <li>Candidate shall not be allowed to leave the examination hall before the conclusion of examination.</li>
            <li>Use of WHITE FLUID &amp; OVER WRITING/CUTTING on TEST BOOKLET and OMR SHEET is strictly prohibited.</li>
            <li>Candidate must carry - i).ADMIT CARD, ii).SCHOOL ID CARD, iii).BALL POINT PEN (BLUE/BLACK)</li>
        </ol>
    </div>
</body>
</html>